<div class="modal-header">
  <h4 class="modal-title">
    <i class="fas fa-shopping-cart mr-3"></i>
    <span class="title">Review your cart</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ca-cart-items [items]="items"
                  [totalSum]="totalSum"
                  (remove)="removeItem($event)"
                  (quantityChange)="onQuantityChange($event)">
  </ca-cart-items>
</div>
<div class="modal-footer p-0">
  <div class="d-flex flex-column m-0 w-100">
    <div class="total-info d-flex align-items-center justify-content-between">
      <span class="label">Total</span>
      <span class="value">{{totalSum | customCurrency}}</span>
    </div>
    <button type="button"
            class="btn btn-success checkout-btn"
            ngbAutofocus
            (click)="checkout()"
            [disabled]="!items || items.length === 0">
      Checkout
    </button>
  </div>
</div>
