.step-content {
  border: 1px solid #ededed;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 40px;
  .step-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}
